- content_for :toolbar do
  %h1 All Artists
  = link_to "Back", root_path, :class => 'back'

%ul.rounded
  - @users.each do |user|
    %li.arrow
      = link_to h(user.try(:nickname)), user_path(user)