- content_for :toolbar do
  %h1 All Artists
  = link_to "Back", root_path, :class => 'back'

%ul.rounded
  - @users.each do |user|
    %li.arrow
      = link_to display_name_for(user), user_path(user)
