:textile
  h2. Help!

  To use Nanolooploop, you have log in first. You can do so by using your login from Facebook, Twitter, Google, Wordpress, Flickr or any OpenID account you have. There's no real signup.

  After logging in, you will see two email adresses on the home page, in the right sidebar. Yes, I know, they're only partly displayed currently, because they are rather long.

  These two email adresses are the key to getting your nanoloop files into Nanolooploop. You should save these email adresses to your favorite Addressbook application, so that you have them in the addressbook of your iPhone or iPodTouch.

  *Please note* that you really need to be *exact* on your email. If you enter the address incorrectly (please, do us both a favour and use Copy & Paste), the loop will be saved, but we can't assign the loop to your account. We will, at least for the start time, every now and then try to re-assign such orphaned loops by hand if possible, but don't expect us to.

  Now, everytime you want to save a nanoloop file, you simply send it to one of the two email adresses, depending on if you want the file to be publicly available for everyone (so that everyone can download your file back into nanoloop or render it as a wav file using "Olivers WAV export":http://www.nanoloop.com/wav_export) or if you want it to be private, so that only you can access it later.

  Oh, by the way: You can change the "publicness" later on by clicking "edit" on the loops' show page.

  *Please also note* that it's a good idea to *keep your email addresses private*. At first it seems like a funny idea to share the address around so that other people can send you loops, but since the loops will be credited with your account, it might become hard to distinguish all the loops' owners. So, if you want to share stuff, send it to the person directly or simply make the loop public.
