%h2 Imprint / Impressum
%p
  Ah, the joys of legal disclaimers. Since I am a german citizen, this stuff mostly is in german:

%h3
  Inhaltlich Verantwortlicher gemäß Paragraph 10 Absatz 3 MDStV:

%p
  Jan Krutisch
  %br
  Tegelweg 21
  %br
  22159 Hamburg
  %br

%h3
  Haftungshinweis
%p
  Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links. ür den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.