- content_for :title do
  Edit '#{h @loop.name}'

- form_for(@loop) do |f|
  .info
    = f.error_messages
  %ul.rounded
    %li
      Public loop
      %span.toggle
        = f.check_box :public

  = link_to "Save", nil, :class => 'whiteButton submit'
