- content_for :title do
  - if @user == current_user
    Your loops
  - else
    &= @user.try(:nickname)
- content_for :toolbar do
  = link_to 'Back', root_path, :class => 'back'
%ul.rounded
  - @loops.each do |loop|
    %li
      - if @user == current_user
        = link_to h(loop.name), loop_path(loop)
      - else
        = link_to h(loop.name), user_loop_path(@user, loop)
